.navButton {
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #3498db;
    border-color: #2ecc71;
    padding: 7px 11px;
    transition: 0.25s;
    font-size: 16px;
    background-color: transparent;
    font-weight: 500px;
    color: white;
    position: relative;
}

.navButton:hover {
    background: #2ecc71;
    cursor: pointer;
    padding: 7px 11px;
    transition: 0.25s;
}

.navBar {
    padding: 10px;
    width: 150px;
    height: 100vh;
    float: left;
    z-index: 100;
    position: absolute;

    margin-left: 150;
    
    left: 0;
    top: 0;
    background-color: #010203;
    transition: .5s ease;
    display: inline-flex;
    flex-direction: column;
    align-items: left;
}

.logo {
    width: 120px;
    height: 120px;
    resize: both;
    align-self: center;
}

.homescreenH1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw
}

.homeScreenH6 {
    font-family: 'Roboto', sans-serif;
    color: #2ecc71;
}