.navButton {
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #3498db;
    border-color: #2ecc71;
    padding: 7px 11px;
    transition: 0.25s;
    font-size: 16px;
    background-color: transparent;
    font-weight: 500px;
    color: white;
    position: relative;
}

.navButton:hover {
    background: #2ecc71;
    cursor: pointer;
    padding: 7px 11px;
    transition: 0.25s;
}

.gameImage {
    max-width: 70px;
    max-height: 70px;
    resize: both;
}

.homeScreen {
    position: relative;
    margin-left: 10%;
}

.navBar {
    max-height: 100%;
    padding: 10px;
    
    position: fixed; /* FIXME: DOESNT POSITION CORRECTLY ON WINDOW RESIZE */

    z-index: 1;
    left: 20px;
    background-color: #010203;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    resize: both;
}

.homescreenH1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw
}

.homeScreenH6 {
    font-family: 'Roboto', sans-serif;
    color: #2ecc71;
}